# Only generated public files belong here.
/*
!/index.html
!/style.css
!/exhibition.css
!/app.js
!/year-menu.js
!/content-model.js
!/content.js
!/.gitignore
!/.nojekyll
!/photos/
/photos/*
!/photos/forest-light.jpg
!/photos/first-light.jpg
!/photos/little-green.jpg
!/photos/tideline.jpg
!/photos/woodland.jpg
!/photos/snowline.jpg
!/photos/420deb37-Gumamela.jpg
!/photos/2aaabcf1-Alternanthera-Brasiliana.jpg
!/photos/fe243388-Crape-Myrtle.jpg
!/photos/644477af-Rose.jpg
