# Generated public files only.
/*
!/.nojekyll
!/app.js
!/content-model.js
!/content.js
!/exhibition.css
!/index.html
!/photos/07252074-IMG_2944.jpg
!/photos/2aaabcf1-Alternanthera-Brasiliana.jpg
!/photos/38aafe70-_MG_0082.jpg
!/photos/420deb37-Gumamela.jpg
!/photos/4c49a546-_MG_9950.jpg
!/photos/644477af-Rose.jpg
!/photos/791c9eba-_MG_0020.jpg
!/photos/9a02adc6-Aki-10858817-2318-489C-90CF-EFC3D5525392.jpg
!/photos/fe243388-Crape-Myrtle.jpg
!/style.css
!/year-menu.js
!/photos/
/photos/*
!/photos/07252074-IMG_2944.jpg
!/photos/2aaabcf1-Alternanthera-Brasiliana.jpg
!/photos/38aafe70-_MG_0082.jpg
!/photos/420deb37-Gumamela.jpg
!/photos/4c49a546-_MG_9950.jpg
!/photos/644477af-Rose.jpg
!/photos/791c9eba-_MG_0020.jpg
!/photos/9a02adc6-Aki-10858817-2318-489C-90CF-EFC3D5525392.jpg
!/photos/fe243388-Crape-Myrtle.jpg
!/aki-studio/
!/aki-studio/**
!/palette.css
!/portfolio.css
